body {
  background-image: url("Images/questioning-concept-with-question-mark.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
#list > * {
  border: 2px solid black !important;
  min-width: 150px !important;
  margin: 10px !important;
  padding: 10px !important;
}
#list > *:hover {
  background-color: darkgray !important;
}
.main {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  height: 100vh !important;
  width: 100vw !important;
}

.box {
  background-color: beige !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 15px !important;
  width: 950px !important;
  max-height: 700px !important;
  border-radius: 15px !important;
}
.box > * {
  text-align: center !important;
}
li:hover {
  cursor: pointer;
}
li.selected {
  background-color: green;
  color: white;
}
#frame {
  animation: slide 2s;
  transition: 1s;
}
@keyframes slide {
  0% {
    transform: translateY(-100%);
    transition: 1s;
  }
  100% {
    transform: translateY(40%);
    transition: 1s;
  }
}
.hero {
  background-image: url("Images/studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product.jpg") !important;
  background-position: center !important;
  background-size: cover !important;
  width: 100vw;
  height: 100vh;
  display: flex !important;
  justify-content: center !important;
  text-align: center;
}
.main-content {
  margin-top: 55px;
}
.box-content {
  width: 600px !important;
  height: 250px !important;
  background-color: rgb(36, 21, 61);
  border-radius: 15px;
  transition: 2s;
  animation: box 3s;
}
@keyframes box {
  0% {
    transform: translateY(-100%);
    transform: 2s;
  }
  100% {
    transform: translateY(20%);
    transform: 2s;
  }
}
#questionText {
  color: rgb(31, 239, 201);
}
.register {
  text-align: center;
}
#profile {
  background-image: url("Images/studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product.jpg");
}
.btn-none {
  visibility: hidden;
}
.btn-display {
  visibility: visible;
}

@media screen and (max-width: 670px) {
  .box-content {
    width: 350px !important;
    height: 350px !important;
    padding: 25px !important;
  }
  #form {
    width: 400px !important;
  }
  #login {
    width: 400px !important;
  }
  .box {
    width: 400px !important;
    margin: 15px !important;
  }
  #frame {
    width: 400px !important;
  }
}
